TRELLO=true
TRELLO_API_KEY=

JIRA_USERNAME=
JIRA_PASSWORD=
JIRA_TOKEN=

JIRA_PROJECT=PRODSEC
JIRA_URL="https://your_domain.com"
JIRA_COMPONENT=Identification
JIRA_REVIEW_ISSUE_TYPE=Task

JIRA_GENERAL_FIELD=customfield_111
JIRA_LANGUAGE_FIELD=customfield_112
JIRA_NATIVE_FIELD=customfield_113
JIRA_PARSING_FIELD=customfield_114
JIRA_WEB_FIELD=customfield_115
JIRA_THRIDPARTY_FIELD=customfield_116
JIRA_LEGAL_FIELD=customfield_117
JIRA_QA_FIELD=customfield_118